@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: white;
  color: #171717;
}

html.dark body {
  background-color: #050505;
  color: rgb(229, 231, 235);
}